body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#009900;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:74px;
  width:592px;
  height:78px;
  font-size:28px;
  color:#009900;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:588px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:94px;
  width:50px;
  height:38px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:152px;
  width:669px;
  height:72px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  word-wrap:break-word;
}
